{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block blogbody %}
<div class="jumbotron text-center" style="opacity: 0.9;">
    <div class="row">
        <div class="col-sm">
            <h2>Update Article</h2>
            <hr>  
            <form method = "post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.media}}
                {{form|crispy}}
                <br>
                <button type="submit" class="btn btn-danger">Update</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}